.task {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
}

.details {
    text-align: left;
}

.details h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions svg {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    background-color: #282c34;
    color: #fff;
    padding: 0.4rem;
    transition: all .3s;
    cursor: pointer;
}

.actions svg:hover {
    color: #f00;
    transform: scale(1.2);

}